@mixin font($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin fieldset-reset {
  padding: 0;
  margin: 0;
  border: none;
}

//посмотреть, а точно ли надо
